<div class="main-container">

    <app-header [sidenav]="sidenav"></app-header>


    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #sidenav class="w-10p">

            <mat-list>
                <mat-list-item>
                    <mat-icon class="icon">home</mat-icon>
                    <span class="ml-15">
                      <a (click)="sidenav.toggle()">Home</a>
                    </span>                
                </mat-list-item>
            </mat-list>
            
        </mat-sidenav>

        <mat-sidenav-content>

            
            
            <div class="example-events">
                <h1>Teste do sidenav</h1>                
            </div> 
            
            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>
    

    <app-footer></app-footer>

</div>




