<div class="w-450">

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{actionName}} Item do checklist</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="checklistForm" #formDirective ="ngForm" class="flx-clmn">

                <div>

                <mat-form-field appearance="outline" class = "w-300">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" formControlName="description">
                    <mat-error *ngIf="checklistForm.get('description')?.hasError('required')">Descrição é obrigatório</mat-error> <!--Gambiarra-->
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="category" [compareWith]="compareCategories">
                          <mat-option></mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="flx-center-row flx-evly">

                            <section>
                                <mat-checkbox formControlName="completed">Completo?</mat-checkbox>
                            </section>

                            <mat-form-field appearance="outline">
                                <mat-label>Prazo</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="deadline">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                      </div>
                  
            </div>

            </form>

            

        </mat-card-content>

        <mat-card-actions >

             <button mat-flat-button (click)="cancel()">Cancelar</button>
            
            <button mat-raised-button (click)="save()">Salvar</button>

        </mat-card-actions>
    </mat-card>

</div>