<div>

    <mat-card>

        <mat-card-header>

            <mat-card-title>{{actionName}} Categoria</mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="categoryForm" #categoryFormDirective="ngForm" *ngIf="isFormReady">

                <mat-form-field class="w-300" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="name">

                    <!--*ngIf="categoryForm?.controls?.name?.errors?.required" dando errado-->

                    <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">Nome é obrigatório.</mat-error>

                  </mat-form-field>
                  

            </form>

        </mat-card-content>

        <mat-card-actions>

            <button mat-flat-button (click)="cancel()">Cancelar</button>
            
            <button mat-raised-button (click)="save()">Salvar</button>

        </mat-card-actions>
        
    </mat-card>

</div>
